
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="nav navbar-nav float-lg-right">
              <li class="nav-item">
              <a class="nav-link"><%= link_to "Education", portfolio_education_index_path %><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link"><%= link_to "Tech Skills", portfolio_technical_index_path %></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link"><%= link_to "Work Experience", portfolio_work_experience_path %></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link"><%= link_to "Portfolio", portfolio_portfolio_path %></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#contact_sec">Contact</a>
              </li>
          </ul>

      </div>
  </nav>
