

<div class="wrapper container">
    <h3 class="eduction" id="eduction_sec">Education</h3>
    <!-- Education section -->
    <section id="education-section" class="education-section section">
        <h2 class="section-title"></h2>
        <div class="row">
            <div class="item col-xs-12 col-sm-4">
                <div class="item-inner">
                    <h3 class="degree">BSc Computer Science</h3>
                    <div class="education-body">
                        Brunel University
                    </div>
                    <!--//education-body-->
                    <div class="time">2012 - 2016</div>
                    <div class="desc">
                        <p>Degree: 2:1</p>
                    </div>
                </div>
                <!--//item-inner-->
            </div>
            <!--//item-->
            <div class="item col-xs-12 col-sm-4">
                <div class="item-inner">
                    <h3 class="degree">IT Practitioners</h3>
                    <div class="education-body">
                        Richmond Upon Thames College
                    </div>
                    <!--//education-body-->
                    <div class="time">2009 - 2012</div>
                    <div class="desc">
                        Grade: Triple Distinction
                    </div>
                </div>
                <!--//item-inner-->
            </div>
            <!--//item-->
            <div class="item col-xs-12 col-sm-4">
                <div class="item-inner">
                    <h3 class="degree">Maths, English, Science</h3>
                    <div class="education-body">
                        Salesian College Battersea
                    </div>
                    <!--//education-body-->
                    <div class="time">2004 - 2009</div>
                    <div class="desc">
                        Grade: 10 A's- C's
                    </div>
                </div>
                <!--//item-inner-->
            </div>
            <!--//item-->

        </div>
        <!--//row-->
    </section>
  </div>
