
<div class="header">
  <div class="mugshot">
      <%= image_tag("face.png", class:"rounded-circle", alt:"Headshot of Samuel Udoh")%>
      <div class="profile-border"></div>

  </div>
  <p class="my_name">Hi my name is Samuel Udoh</p>
</div>

<div class="bottom_colour">

  
</div>
