<div class="project_section wrapper container">
    <h3 class="project_title" id="port_sec">Portfolio</h3>

    <section id="portfolio">

        <div class="row">
            <!-- sm or small devices (tablets) sepcific grid -->
            <div class="col-sm-12">
                <!-- card deck wrapper  covers entire class -->
                <div class="card-deck-wrapper">

                    <!-- First  colums of projects -->
                    <div class="card-deck">

                        <div class="card">
                            <img class="card-img-top img-fluid" src="images/port1.png" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Web Development</h4>
                                <p class="card-text text-muted">Developed Stockwellcare Support Services a new site using HTML5, CSS3, Javascript and Bootstrap</p>
                                <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#serviceModal4">View more</button>
                            </div>
                        </div>

                        <div class="card">
                            <img class="card-img-top img-fluid" src="images/port8.png" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Javascript Project</h4>
                                <p class="card-text text-muted">Lng elit. Consequatur architecto nihil esse quo aut ipsa, temporibus error culpa corporis, optio fugit perspiciatis odio. Vel, sunt.</p>
                                <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#serviceModal5">View more</button>
                            </div>
                        </div>

                        <div class="card">
                            <img class="card-img-top img-fluid" src="images/port3.png" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Sparta Global 1</h4>
                                <p class="card-text text-muted">Lng elit. Consequatur architecto nihil esse quo aut ipsa, temporibus error culpa corporis, optio fugit perspiciatis odio. Vel, sunt.</p>
                                <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#serviceModal6">View more</button>
                            </div>
                        </div>
                    </div>
                    <!-- second column of projects -->

                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="images/port4.png" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Sparta Global 2</h4>
                                <p class="card-text text-muted">Lng elit. Consequatur architecto nihil esse quo aut ipsa, temporibus error culpa corporis, optio fugit perspiciatis odio. Vel, sunt.</p>
                                <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#serviceModal7">View more</button>
                            </div>
                        </div>

                        <div class="card">
                            <img class="card-img-top img-fluid" src="images/port5.png" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Sparta global 3</h4>
                                <p class="card-text text-muted">Lng elit. Consequatur architecto nihil esse quo aut ipsa, temporibus error culpa corporis, optio fugit perspiciatis odio. Vel, sunt.</p>
                                <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#serviceModal8">View more</button>
                            </div>
                        </div>

                        <div class="card">
                            <img class="card-img-top img-fluid" src="images/port6.png" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">React JS Project</h4>
                                <p class="card-text text-muted">Lng elit. Consequatur architecto nihil esse quo aut ipsa, temporibus error culpa corporis, optio fugit perspiciatis odio. Vel, sunt.</p>
                                <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#serviceModal9">View more</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
