

<div class="wrapper container">

<h3 class="technical" id="technical_sec">Technical Skills</h3>
<!-- Technical Proficenies -->
<section id="technical-section" class="technical-section section">
    <h2 class="section-title"></h2>
    <div class="row">
        <div class="item col-xs-12 col-sm-4">
            <div class="item-inner">
                <h3 class="degree">HTML5</h3>
                <div class="desc">
                    <div class="star">

                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>

                    </div>
                </div>
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->

        <div class="item col-xs-12 col-sm-4">
            <div class="item-inner">
                <h3 class="degree">CS33</h3>
                <div class="desc">
                    <div class="star">

                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>

                    </div>
                </div>
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <div class="item col-xs-12 col-sm-4">
            <div class="item-inner">
                <h3 class="degree">Javascript</h3>
                <div class="desc">
                    <div class="star">

                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>

                    </div>
                </div>
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->

    </div>
    <!--//row-->

    <!-- row two -->
    <div class="row">
        <div class="item col-xs-12 col-sm-4">
            <div class="item-inner">
                <h3 class="degree">C#</h3>
                <div class="desc">
                    <div class="star">

                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>

                    </div>
                </div>
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <div class="item col-xs-12 col-sm-4">
            <div class="item-inner">
                <h3 class="degree">SQL</h3>
                <div class="desc">
                    <div class="star">

                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>

                    </div>
                </div>
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <div class="item col-xs-12 col-sm-4">
            <div class="item-inner">
                <h3 class="degree">Ruby on Rails</h3>
                <div class="desc">
                    <div class="star">

                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>

                    </div>
                </div>
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
    </div>
    <!--//row-->
</section>
</div>
