
<div class=" before_timeline container-fluid">
      <div class="work_experience">
          <h3 class="work_e_heading" id="work_exp_sec">Work Experience</h3>
      </div>

  </div>

  <div class="work_ex_timeline container-fluid">

      <div class="card-deck">
          <div class="card">
              <div class="card-block">
                  <h4 class="card-title">Junior Web Developer</h4>
                  <p class="card-text blockquote-footer">Sparta Global</p>
                  <p class="card-text">Recently Started at Sparta Global IT Academy</p>
                  <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#serviceModal1">Read More</button>
              </div>
              <div class="card-footer">
                  <small class="text-muted">February 2017 - to date</small>
              </div>
          </div>
          <div class="card">
              <div class="card-block">
                  <h4 class="card-title">Freelancer</h4>
                  <p class="card-text blockquote-footer">StockwellCare Support Services</p>
                  <p class="card-text"> Started my web devleopment freelance career</p>
                  <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#serviceModal2">learn more</button>
              </div>
              <div class="card-footer">
                  <small class="text-muted">November 2016 - December 2016</small>
              </div>
          </div>
          <div class="card">
              <div class="card-block">
                  <h4 class="card-title">IT Intern</h4>
                  <p class="card-text blockquote-footer">GE Capital</p>
                  <p class="card-text">Completed a 12 month internship with GE </p>
                  <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#serviceModal3">learn more</button>
              </div>
              <div class="card-footer">
                  <small class="text-muted">June 2014 - July 2015</small>
              </div>
          </div>
      </div>

  </div>



  <!-- Work EXPERIENCE modal -->

<!-- Work Experience Modal 1  -->
<div class="service-modal modal fade" id="serviceModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal" aria-label="Close">
                <div class="close-icon">
                    <div class="close-icon-r">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <h2 class="modal-title" id="myModalLabel">Sparta Global</h2>
                <p>Sparta Global is an IT academy that recruits graduates onto their three month specialist training programme.Thier clients include leading industry companies in Finances, Retail, mobile and FTSE 100 clients. My training covers, web
                    technologies, databases JavaScript, Node.js, React.js, GIT and Project management etc.</p>
            </div>
        </div>
    </div>
</div>

<!-- Work Experience Modal 2  -->
<div class="service-modal modal fade" id="serviceModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal" aria-label="Close">
                <div class="close-icon">
                    <div class="close-icon-r">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <h2 class="modal-title" id="myModalLabel2">Freelancing</h2>
                <ul>
                    <li><a href="http://stockwellcare.com/" target="_blank">Stockwellcare</a></li>
                    <li>Hired to rebrand and develop a new mobile responsive website for StockwellCare Support Services</li>
                    <li>Gathered requirements user requirements from client and competitor sites </li>
                    <li>Developed new site using HTML5, CSS3, SASS, Javascript and Bootstrap</li>
                    <li>Implemented an SEO friendly design making the content indexable </li>
                    <li>Implemented Google Analytics</li>
                    <li>Using Nibbler and Sitebeam to produce analytical reports on the website</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Work Experience Modal 3  -->
<div class="service-modal modal fade" id="serviceModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal" aria-label="Close">
                <div class="close-icon">
                    <div class="close-icon-r">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <h2 class="modal-title" id="myModalLabel3">GE Capital</h2>
                <ul>
                    <li>Owned the delivery of the monthly change pipeline to the GE Capital Direct website and this was managed without issue. Successfully managed over 30 website releases.</li>
                    <li>Gathered requirements for potential website changes to fully understand what is to be delivered, while anticipating issues that might arise and resolving them.</li>
                    <li>Project managed over 30 interns to deliver on my reverse mentoring scheme project.</li>
                    <li>Developed a classification plugin that allows employees to classify their documents, which will lower data leakage. Learnt a new programming language C# which was leveraged to drive this project.</li>
                    <li>Developed a HR web tool using HTML 5 and CSS3</li>
                    <li>Designed and developed the automation system of Aircraft's closing memo process</li>
                    <li>Produced over 1000 test scripts for a mobile application upgrade</li>
                </ul>
            </div>
        </div>
    </div>
</div>



<!-- Work Experience Modal 1  -->
<div class="service-modal modal fade" id="serviceModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal" aria-label="Close">
                <div class="close-icon">
                    <div class="close-icon-r">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <h2 class="modal-title" id="myModalLabel4">Stockwellcare Services</h2>
                <%= image_tag("screenshot1.png", class:"img-fluid")%>
                <h3>Design Goals and Objectives</h3>

                <ul>
                    <li>Create a user experience which leads people to enquire about the service</li>
                    <li>Build a responsive website that can viewed on all browsers and devices</li>
                    <li>Allow users to contact us through website</li>
                    <li>Allow potential employees to sign up via forms</li>
                    <li>Simple, Clean, Effective</li>
                    <li>SEO</li>
                </ul>

                <h3>Questions</h3>
                <ul>
                    <li>What are we building?</li>
                    <li>Who are we building it for?</li>
                    <li>What features do we want to have?</li>
                </ul>

                <h3>Answers</h3>
                <ul>
                    <li>A website to inform users about our services and to create a user experience which leads to people to enquire about the service</li>
                    <li>Potential customers who would be our target customers</li>
                    <li>Check User Stories</li>
                </ul>

                <h3>User Stories</h3>
                <ul>
                    <li>As a user, I want to be able to find information about the service to see if it meets my customer needs</li>
                    <li>As a user, I want to to be able to find information about the company to see the legitimacy and history of the company ( Needs to be trustworthy based on the nature of our service)</li>
                    <li>As a user, I want to be able to find contact information for enquiry purposes</li>
                    <li>As a user(Potential Employee), I want to be able to find career oppourtinties so that I can apply for a relevant position </li>
                    <li>As a user, I want to be able to find location information</li>
                    <li>As a user I want to be able to request a brochure, to find more information about our services </li>
                    <li>As a user, I want to be able to request a call back (Feature) to speak to an employee</li>
                </ul>

                <h3>Wireframes</h3>
                <%= image_tag("port9.png", class:"img-fluid")%>
            </div>
        </div>
    </div>
</div>
