<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> New User Form</title>
  </head>
  <body>
    <h1>New User Form</h1>
<ul>
    <nav>
      <a href="/users">Posts</a>
      <a href="/users/new_users">New Posts</a>
    </nav>
  </ul>

    <form action="/users" method="POST">
    <label>Username:</label><input type="text" name="FirstName" value=""><br>
    <label>First Name:</label><input type="text" name="LastName" value=""><br>
    <label>Last Name:</label><textarea></textarea><br>

    <p></p>
    <input type="submit" value="Submit">
    </form>

  </body>
</html>
