<h1>New Picture</h1>


<form action="<%= pictures_path%>" method="POST" >

<div>

  <label>Iamge Url</label>
  <input type="text" name ="picture[img]">
</div>

<div>

  <label>Caption</label>
  <textarea name="picture[caption]"></textarea>
</div>
<input type="submit" name="save" value="save">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">


</form>
