<form class="" action="<%= picture_following_index_path picture%>" method="Post">

  <input type="submit" value="Follow">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

</form>
