<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello</title>
  </head>
  <body>
    <h1>Index Page</h1>

    <nav>
      <a href="/posts">Posts</a>
      <a href="/posts/new">Posts</a>

    </nav>
  </body>
</html>
