<form class="" action="<%= picture_comments_path picture%>" method="Post"  style="width: 200px;">

  <label>Write a comment </label>
  <textarea name="comment[body]"></textarea>
  <input type="submit" value="Post comment">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

</form>
