@import "bootstrap";
@import "font-awesome";

body{
    background-color: #e4c097;
}

.header{
  position: relative;
  height: 600px;
  background: asset-url("two.png");
  background-size: auto 1000px;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  }

  .mugshot{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    background-position: center;
    position: absolute;
    top: 40%;
    margin-top: -50px;
  }
  img{
    height: 163px;
    width: 160px;
    border: solid 7px rgba(253, 227, 255, 0.3);
  }

  .bottom_colour{
    min-height: 220px;
    background-color: #e4c097;
  }

  .my_name{
    display: flex;
    padding-top: 130px;
    align-items: center;
    justify-content: center;
    height: 800px;
    color: white;
    opacity: .6;
    font-size: 40px;

    animation: social-ani 20s linear forwards infinite;
  }
  @keyframes social-ani {
  from {transform: translateX(-100vw);}
  to {  transform: translateX(100vw);}
  }

  .wrapper{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  section{
  margin-bottom: 40px;
}

.eduction, .technical{
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
  line-height: 4;
  color: white;
}

#education-section{
  background-color: #fff;
}
  .section-title{
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
    line-height: 4;
    padding-top: 20px;
}
  .item{
    margin-bottom: 45px;
}
    .item-inner{
      padding: 0 30px;
}
    .degree{
      font-size: 18px;
      text-align: center;
}
    .education-body {
      font-size: 16px;
      font-weight: 300;
      text-align: center;
}
    .time{
      color: #8a8a8a;
      margin-bottom: 15px;
      text-align: center;
}
    .desc{
      font-size: 15px;
      text-align: center!important;
}

#technical-section{
      background-color: #fff;
}
      .section-title{
        font-size: 24px;
        text-align: center;
        margin-bottom: 25px;
        padding-top: 20px;
        line-height: 4;
      }

      .item{
        margin-bottom: 45px;
}
        .item-inner{
          padding: 0 30px;
}
        .degree{
          font-size: 18px;
          text-align: center;
          }
          .desc{
            font-size: 15px;
            height: 100px;
            text-align: justify;
          }
          .star{
            display: flex;
            height: 120px;
            justify-content: center;
            align-items: center;
          }

          .fa-star, .fa-star-o{
            width: 30px;
            font-size: 22px;
          }


          .work_experience{
            text-align: center;
            background-color: white;
            height: 200px;
            margin-top: 56px;
          }

            .work_e_heading{
              font-size: 3em;
              text-transform: uppercase;
              text-align: center;
              margin-bottom: 25px;
              line-height: 4;
              color: #a8a9ad;
            }
