<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> New POsts</title>
  </head>
  <body>
    <h1>New Posts form</h1>
<ul>
    <nav>
      <a href="/posts">Posts</a>
      <a href="/posts/new">New Posts</a>
    </nav>
  </ul>

    <form action="/posts" method="POST">
    <label>First name:</label><input type="text" name="FirstName" value=""><br>
    <label>Last name:</label><input type="text" name="LastName" value=""><br>
    <label>Last name:</label><textarea></textarea><br>

    <p></p>
    <input type="submit" value="Submit">
    </form>

  </body>
</html>
