<form class="" action="<%= picture_likes_path picture%>" method="Post"  style="margin-top: 39px;">
  <input type="submit" value="Like">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

</form>
